@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Dosis');

* {
    font-family: 'Dosis';
}

.margin-top {
    margin-top: 5rem;
}

.main-header {
    letter-spacing: 0.1rem;
    color: rgb(54, 15, 0);
}

/* ----- NAVBAR ----- */

nav {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

div.navbar-collapse {
    height: 100%;
    padding: 15px 0;
}

nav.navbar {
    transition: 0.5s;
    background-color: rgb(0, 0, 0, 0.4);
}

nav.navbar-light {
    background-color: #fdfdfd;
    box-shadow: 1px 1px 2px #ccc;
}

a#navbar-brand {
    display: inline-block;
    position: absolute;
    top: 0
}

img#nav-logo {
    height: 60px;
}

a.nav-link {
    letter-spacing: 0.08rem;
}

div.dropdown-menu {
    top: 53px;
    border: none;
    border-radius: 0;
    background-color: #fdfdfd;
}

a.dropdown-item {
    padding: 1rem;
    padding-left: 2rem;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
}

a.dropdown-item:active {
    background-color: #fdfdfd;
}

div.dropdown-dark {
    background-color: rgb(0, 0, 0, 0.7)!important;
}

div.dropdown-dark a {
    color: rgba(255, 255, 255, 0.8)!important;
}

div.dropdown-dark a:hover {
    color: rgba(0, 0, 0, 0.6)!important;
}

div.dropdown-light {
    background-color: #fdfdfd;
    border-bottom: 1px #ccc solid;
    border-top: 1px #ccc solid;
}

/* ----- CAROUSEL ----- */

div.carousel-item h2.display-4 {
    letter-spacing: 0.1rem;
}

div.carousel-item p.lead {
    letter-spacing: 0.1rem;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ----- DOUBLE CONTAINER ----- */

/* div#double-container-first {
    border-left: 1px solid #BF8C5A;
} */

p#double-container-text {
    line-height: 2rem;
    letter-spacing: 0.08rem;
}


/* ----- JUMBOTRON ----- */

.carousel-jumbotron {
    height: 120vh;
}

div.jumbotron {
    margin-bottom: 0;
}

img.barber-icon {
    height: 5rem;
}

span.price-header {
    color: rgb(33, 37, 41);
}

span.price-info {
    color: #BF8C5A;
}

div#city-container:hover {
    cursor: pointer;
}

span.city-name {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.08rem;
}

span.city-active {
    color: rgb(33, 37, 41);
}

/* ----- FOOTER ----- */

footer {
    background-color: #212529;
    color: #fff;
}

h3.footer-header {
    color: #BF8C5A;
    letter-spacing: 0.08rem;
}

.footer-list-item {
    color: #fff;
    letter-spacing: 0.05rem;
}

.footer-logo {
    color: #BF8C5A;
}

div#license {
    font-size: 0.8rem;
    padding: 0.5rem;
}

div#license a {
    color: #fff;
}

/* ************************************* ABOUT ************************************* */

div.about-article {
    letter-spacing: 0.08rem;
    line-height: 2rem;
}

a#button-about {
    padding: 0.8rem 3rem;
    font-size: 1.2rem;
    color: #BF8C5A;
    letter-spacing: 0.08rem;
    background-color: #fff;
    border: 1px solid #BF8C5A;
}

a#button-about:hover {
    padding: 0.8rem 3rem;
    font-size: 1.2rem;
    color: rgb(54, 15, 0);
    letter-spacing: 0.08rem;
    background-color: rgba(191, 140, 90, 0.1);
    border: 1px solid rgb(54, 15, 0);
    text-decoration: none;
}

div#about-main-photo {
    height: 90vh;
    background-image: url('../img/about/1.jpg');
    background-attachment: fixed;
    background-position: left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ************************************* GALERIA ************************************* */

div.photo{
    overflow: hidden;
}
div.photo img {
    transition-duration: 1s;
    display: block;
}

div.photo img:hover {
    opacity: 0.7;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    cursor: url("../img/gallery/search-solid.svg"), auto;
}

div.about-photo {
    height: 50%;
}

/* ************************************* CONTACT ************************************* */

div#container-contact {
    margin-top: 62px;
}

div#contactDouble {
    height: 80vh;
}

.icon-contact {
    font-size: 2.5rem;
    color: #212529;
}

.text-contact {
    font-size: 1.4rem;
    color: #212529;
    letter-spacing: 0.08rem;
}

#contact-div {
    padding-left: 2rem;
}

div#map {
    height: 80vh;
    padding: 0;
}

.info-logo {
    font-size: 3.5rem;
    cursor: pointer;
}

#fb {
    color: #29487D;
}

#ig {
    color: #DD2a7B;
}

/* ************************************* MEDIA ************************************* */

@media (max-width: 767.98px) {
    .carousel-item {
        height: 60vh;
    }
    
    .main-header {
        font-size: 3rem;
    }
    
    span#double-container-header {
        font-size: 3.2rem;
    }

    div#double-container-first {
        border-left: none;
    }
    
    div#double-container-second {
        margin-top: 1rem;
    }

    div.jumbotron-sm-row {
        margin-top: 5rem;
    }

    img.barber-icon {
        height: 4rem;
    }

    span.price-header {
        font-size: 1.35rem;
    }

    div#about-main-photo {
        background-attachment: scroll!important;
    }

    footer#clearFrame {
        margin-top: 140vh;
    }
}

@media (max-width: 992px) {
    footer#clearFrame {
        margin-top: 100vh;
    }

    li.nav-item {
        margin-top: 0.5rem;
    }

    div#info-contact {
        margin: 0 auto;
    }

    #contact-div {
        padding-left: 1rem; 
    }
}
